h1 {
    font-size: 20px;
    color:rgb(53, 53, 53);
    text-align: center;
    background-color:rgb(183, 183, 183)
}


.wrapper {
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    width: 50%;
    border: 1px solid black;
    border-radius: 4px;
    background-color:#f3f3f3;
    margin-left: auto;
    margin-right: auto;
    
}

.textField {
    height: 15em;
    border: 0;
    overflow: hidden;
    resize: none;
    /* display: block;
    word-wrap: break-word;
    word-break: break-all; */
    /* margin-bottom: auto; */
    font-size: 20px;
    background-color:#e9e9e9;
    white-space: pre;
    

}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
    background-color:#ddd7e5;
    /* margin-top: 50%; */
    justify-content: center;
    /* margin-bottom: 9px; */
}

.key {
    /* width: 1%; */
    height: 10%;
    text-align: center;
    color:azure;
    padding: 10px 15px;
    border: 1px solid #d6e9c6;
    border-radius: 6px;
    background-color: #404040;
    /* flex-grow: 1; */
    }

.key:hover {
    background-color: #432828;
}
.key:active {
    background-color: #b83030;
    border-radius: 12px;

}


.bigkeys {
    flex-grow: 1;
    flex-shrink: 2;
}

.break {
    flex-basis: 100%;
    height: 0;
}



@media screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 1px solid black;
        border-radius: 4px;
        background-color:#f3f3f3;
        margin-left: auto;
        margin-right: auto;
        
    }

    .keyboard {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid green;
        background-color:#ddd7e5;
        font-size: 12px;
        justify-content: center;
    }

    .textField {
        height: 15em;
        border: 0;
        overflow: hidden;
        resize: none;
        font-size: 14px;
        background-color:#e9e9e9;
        white-space: pre;
        
    
    }

}